.app_center {
  flex: 1;
  display: flex;

  .s_app_container {
    background-image: linear-gradient(90deg, rgba(69, 76, 109, 0.3), rgba(69, 76, 109, 0.9));
    overflow: hidden;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
  }

  .s_creator {
    width: 650px;
    margin: auto;
    color: #363c56;
    height: 380px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: rgba(38, 44, 52, 0.4) 0px 16px 13px -8px;
    background: white;
    display: flex;

    .info_creator {
      flex: 1;
      display: flex;
      flex-direction: column;

      .info_con {
        flex: 1;
      }

      &[step='step0'] {
        .info_con {
          padding: 55px 25px;
        }

        * {
          color: inherit;
        }

        h2 {
          font-weight: 300 !important;
        }

        h1 {
          font-size: 3.5em;
          letter-spacing: -1px;
          margin-left: -5px;
          margin-top: 15px;
          margin-bottom: 10px;
        }

        h5 {
          font-weight: 100;
        }

        .next {
          font-size: 15px;
          border-radius: 3px;
          color: white;
          padding-left: 15px;

          i {
            padding: 8px;
            font-size: 12px;
          }
        }
      }

      .infor_foot {
        padding: 20px;

        a {
          cursor: pointer;
          float: left;
          border: 1px solid #dfdde6;
          color: #9a93b3;
          padding: 4px 13px;
          border-radius: 3px;

          &.next {
            float: right;
          }

          &.disable {
            opacity: 0.5;
            color: #cdcdcd;
          }

          &:hover:not(.disable) {
            border-color: #9a93b3;
          }
        }
      }
    }

    .icon_creator {
      flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #3d404c;
    }
  }

  .info_modifier {
    padding: 10px 22px 20px 22px;

    h2 {
      font-size: 22px;
      font-weight: 400;
    }

    & > * {
      margin-bottom: 17px;
    }

    .field_widget {
      & > input[type='text'], & > .many2one_field input {
        border-width: 0px;
        border-bottom-width: 1px;
        background: white;
        border-radius: 0px;
        padding-left: 0px;
        font-size: 13px;
        height: 27px;
      }
    }
  }

  .info_title {
    padding: 40px 20px 20px 20px;
  }

  .info_con {

  }

  .icon_creator {
    .icon_area {
      display: flex;
    }

    .upload_ic {
      color: white;
      margin-top: 15px;

      span {
        color: #42abff;
        margin-left: 5px;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    .ic_container {
      flex-direction: column;
      display: flex;

      h5 {
        color: #f3f3f3;
        font-size: 17px;
        padding: 10px 1px;
      }
    }

    .ic_preview {
      width: 128px;
      background: #424869;
      float: left;
      margin: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      border-radius: 5px;
      color: #ff5722;
      box-shadow: black 0px 7px 16px -5px;
      height: 128px;

      i {
        font-size: 80px;
        margin: auto;
        color: white;
      }
    }

    .ic_modifier {
      & > * {
        width: 24px;
        height: 24px;
        text-align: center;
        box-shadow: #6b6b6b 0px 0px 0px 1px;
        cursor: pointer;
        position: relative;
        background-color: white;
        margin: 2px 0px 26px 17px;
        border-radius: 3px;
        border: 2px solid #262c34;
        border-image: initial;
        transition: opacity 0.3s ease 0s, box-shadow;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.color_picker_widget {
  .picker_item {
    width: 30px;
  }

  .color_shower {
    display: flex;
    height: 100%;
  }

  .colorpicker-menu {
    min-width: calc((9 * 24px) + 2px) !important;
  }
}