.more_field {
  margin-top: 30px;
  display: flex;

  button {
    width: 100%;
    padding: 8px;
    background: #e9ecef;
    border: 1px groove #f3fcff;
    color: #2f97de;
    font-family: sans-serif;
    outline: none;

    &:hover {
      background: #dfe5eb;
    }

    &.btn_more {
      border-right-width: 0px;
      border-radius: 3px 0px 0px 3px;
    }

    &.btn_remove {
      color: #dc6c7f;
      border-radius: 0px 3px 3px 0px;
    }
  }
}