.choose_icon_widget {
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 10px;

  .icon_search {
    padding: 10px 0px;
  }

  a.icon {
    color: #676767;
    padding: 5px;
    font-size: 18px;
    width: 30px;
    display: inline-block;
    &:hover {
      cursor: pointer;
      color: #877aee;
    }
  }

  .sm_input {
    background-color: rgba(178, 221, 243, 0.3);
    box-shadow: none;
    border: 1px solid #dbe1e8;
    border-radius: 18px;
    line-height: 25px;
    padding-left: 15px;
  }
}