.choose_color {
  > * {
    margin: auto;
  }
}

.pinned {
  position: fixed;
  top: 30%;
  right: 0px;
  z-index: 1000;
  padding: 0px 10px;
  border-radius: 10px 0px 0px 10px;
  background: white;
  width: 40px;
  height: 40px;
  border: 2px solid #696baf;
  border-right-width: 0px;
  cursor: pointer;
  align-content: center;

  &:hover {
    background-color: #cecff1;
  }

  i {
    color: #8e90cf;
    font-size: 23px;
  }
}

.border_style {
  display: flex;
  width: 100%;
  padding: 10px;

  input, select {
    background: transparent;
    border: none;
    height: auto;
    text-align: center;

    &::-webkit-inner-spin-button {
      opacity: 1;
    }
  }

  .wBDStyle {
    flex: 1;
  }

  .wSide {
    width: 50%;
    display: flex;
    padding-left: 15px;
    padding-right: 5px;
    column-gap: 10px;

    & > .sp_wrap {
      flex: 1;
      height: 25px;
      span {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .sp_wrap {
      border: 1px solid #353a46;
    }

    .sp_border {
      border: 2px solid white;
    }
  }

  span[name="border"] {
    border: 2px solid #1f1d1d;
  }

  span[name="border-left"] {
    border: 2px dashed #1f1d1d;
    border-left-style: solid;
  }

  span[name="border-top"] {
    border: 2px dashed #1f1d1d;
    border-top-style: solid;
  }

  span[name="border-right"] {
    border: 2px dashed #1f1d1d;
    border-right-style: solid;
  }

  span[name="border-bottom"] {
    border: 2px dashed #1f1d1d;
    border-bottom-style: solid;
  }
}

.css_widget {
  width: 450px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  box-shadow: 0 0 18px 0 rgba(22, 45, 61, 0.3);

  &.tacked {
    border: 1px solid #f0f3f5;
  }

  &.column {
    width: 230px;

    .css_line {
      flex-direction: column;
      border: 0px;

      &.reverse_group {
        flex-direction: column-reverse;
      }

      &.wrap_group {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .css_group {
        border-bottom: 1px solid #f0f3f5;

        &.g_wh {
          padding-top: 15px;
        }
      }
    }

    .border_style {
      flex-wrap: wrap;

      & > div:not(.wSide) {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
      }

      .wSide {
        width: 100%;
        padding: 15px 10px 0px 10px;
      }
    }

    .wFS {
      padding: 10px 0px;
    }
  }
}

.css_head {
  display: flex;
  color: white;
  background-color: #389aeb;

  & > div {
    padding: 8px;
    flex: 1;
  }

  .pin {
    text-align: left;
    cursor: pointer;
  }

  .drag_area {
    text-align: center;
    cursor: all-scroll;
  }

  .close {
    text-align: right;
    cursor: pointer;
  }
}

.css_content {
  background: white;
}

.css_foot {
  background: rgba(56, 154, 235, 0.3);
  border-top: 1px solid #b1d7f6;
  height: 30px;
}

.css_line {
  display: flex;
  width: initial;
  border-bottom: 1px solid #f0f3f5;
  align-items: baseline;

  &:last-child {
    .css_group {
      padding-bottom: 10px;
    }
  }

  .css_group {
    flex: 1;
    height: inherit;
    border-right: 1px solid #f0f3f5;
    align-self: stretch;

    &.bg_sub_style {
      background: #f0f5f9;

      .wComSelect select {
        font-size: 12px;
        font-family: serif;
      }
    }

    &.hasTitle {
      display: flex;
      flex-direction: column;
    }

    &.g_wh {
      padding-top: 10px;
    }

    &.g_margin, &.g_padding, &.g_wh {
      .g_content {
        flex-wrap: wrap;

        .css_com {
          flex: 0 0 calc(50% - 10px);
          max-width: 50%;
          margin-bottom: 10px;
          margin-left: 5px;
        }
      }

      //input {
      //border: 1px solid #d2d7da;
      //border-radius: 3px;
      //}
    }

    &:last-child {
      border-right: 0px;
    }

    .g_content {
      display: flex;
      //border-right: 1px solid #f0f3f5;
      height: 100%;

      .css_com {
        flex: 1;
        text-align: center;
      }
    }

    .g_title {
      padding: 10px;
      text-align: center;
    }
  }

}

.css_com {
  .sl_units {
    border: 0px;
    background: transparent;
    min-width: 0px;
    width: 60px;
    height: auto;
    padding: 0px;
    font-weight: 400;
    color: #374c5c;
    font-family: monospace;
  }
}

.w_com {
  display: flex;
  height: 100%;
  align-items: center;

  & > .wComSelect {
    width: 100%;

    select {
      width: 100%;
      border: none;
      background: transparent;
      height: auto;
      padding: 6px;
      text-align: center;
      height: 100%;
    }
  }

  .w_input {
    display: flex;
    border: 1px solid #d2d7da;
    border-radius: 3px;
    overflow: hidden;
    align-items: baseline;


  }

  input {
    width: 100%;
    outline: none;
    border: 0px;
    text-align: right;
    padding-right: 5px;
    color: #6a7176;
  }

  .w_label {
    padding: 0 7px;
    font-size: 14px;
  }

  .com_icon {
    display: block;
    //width: 33px;
    height: 33px;
    line-height: 33px;
    margin: 3px;
    cursor: pointer;
    margin: auto;

    &.hasSub {
      position: relative;

      &:after, &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        margin-left: -6px;
        border: 6px solid transparent;
        border-bottom-color: #f0f5f9;
      }

      &:before {
        margin-bottom: 1px;
        border-bottom-color: #e3e9ef;
      }
    }

    i {
      font-size: 18px;
      vertical-align: middle;
    }

    &.active {
      color: #3899ec;

      svg {
        fill: #3899ec;
      }
    }

    &:hover {
      svg {
        fill: #9361ba;
      }
    }
  }

  svg {
    fill: #2d4150;
  }
}

.wFS {
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  display: flex;

  .slider {
    position: relative;
    width: 100%;

    .line {
      position: absolute;
      top: 45%;
      left: 8px;
      height: 6px;
      width: calc(100% - 16px);
      background-color: #d3edff;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 #c0e1f2;
      cursor: pointer;
    }

    .slideOver {
      .lineOver {
        position: absolute;
        top: 45%;
        left: 8px;
        height: 6px;
        background-color: #3899ec;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #3899ec;
        will-change: width;
        cursor: pointer;
        width: 33px;
      }

      .dot {
        top: calc(45% - 5px);
        background-color: #fff;
        box-shadow: 0 1px 3px 0 rgba(52, 94, 151, 0.3);
        width: 16px;
        border-radius: 100%;
        height: 16px;
        will-change: left;
        left: 30px;
        transition: box-shadow .25s ease-in-out 0s;
        position: absolute;
        cursor: pointer;
      }
    }
  }

  .wFL {
    width: 60px;
    font-size: 14px;
    align-self: center;
    display: flex;

    span {
      padding-right: 10px;
    }
  }
}
