.studio_search_view {
  .node-active {
    outline-offset: -1px;
    background-color: rgba(83, 176, 222, 0.17);
  }

  .separator {
    height: 8px;
    cursor: pointer;
    margin: 8px 0px 0px 0px;
  }

  .wrap_search {
    font-size: 15px;
    font-family: fangsong;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 20px;
  }

  .search_type {
    overflow: hidden;
    margin-right: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #ffffff;
    color: #323338;
    box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
  }

  .type_header {
    padding: 10px 25px;
    background: #f2fafe;
    border-bottom: 1px solid #e6e9ed;
    font-family: inherit;
    font-size: 15px;
    color: #153b58;
    font-weight: bold;

    i {
      margin-right: 5px;
    }
  }

  .items.node-active {
    outline: none !important;
    background-color: transparent;
  }

  .items {
    padding: 5px 0px 10px 0px;

    .item {
      cursor: pointer;
      padding: 5px 15px;

      &:hover {
        background-color: rgba(83, 176, 222, 0.17);
      }

      &.item_sort {
        outline: none;
        border: 1px dashed #9095a9;
        transform: rotate(2deg);
        z-index: 1010 !important;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
      }
    }

    &[type] {
      .ui-sortable-placeholder:not(.drag_com) {
        outline-offset: -1px;
        outline: 1px dashed #919399;
        background-color: rgba(50, 51, 56, 0.14);
      }

      .ui-sortable-placeholder {
        visibility: visible !important;
        width: 100% !important;
        height: 100% !important;
        border: none;
        margin: 0px;

        & > a {
          padding-left: 15px;
          outline: 1px dashed #919399;
          outline-offset: -1px;
          background-color: rgba(50, 51, 56, 0.14);
        }

        i {
          display: none;
        }

        .dropdown-divider {
          display: block;
        }
      }
    }
  }
}