.field_label {
  font-size: 15px;
  color: #585858;
  font-family: emoji;
  margin-bottom: 5px;
}

.field_widget {
  & > input[type='text'], input[type='password'], & > input[type='number'], select, .many2one_field input, .many2many_field, .input_base, .datetime_field input{
    background-color: rgba(178, 221, 243, 0.3);
    box-shadow: none;
    border: 1px solid #dbe1e8;
    border-radius: 3px;
    box-shadow: 0 0 0;
    color: #4c4c4c;
    font-size: 14px;
    font-weight: 300;
    height: 35px;
    padding-left: 8px;
    vertical-align: middle;
    transition: background-color .2s;
  }
}

.ip_studio {
  background-color: rgba(178, 221, 243, 0.3);
  box-shadow: none;
  border: 1px solid #dbe1e8;
  border-radius: 3px;
  box-shadow: 0 0 0;
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 300;
  height: 35px;
  padding-left: 8px;
  vertical-align: middle;
  transition: background-color .2s;
}

.field_widget {
  .html_field {
    .note-editable {
      background: #e7f5fc;
      color: #4c4c4c;
      font-size: 14px;
      font-weight: 300;
    }
  }
}