.navEdit {
  display: none;
}

.menu_center {
  main {
    background: #3c4048;
    border-top: 1px solid #1f232b;
    max-height: 500px;
    overflow-y: scroll;
    padding: 20px;
  }

  footer button {
    visibility: hidden;
  }

  .menu_info {
    display: flex;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid #353b46;
    border-radius: 3px 0px 0px 3px;
    overflow: hidden;
    background: #454c6d;

    .new_menu {
      padding: 8px 7px 0px 7px;
      background: #4a4f61;
      color: #d6d6d6;
      border-right: 1px solid #535c6d;
    }

    .info {
      padding: 8px 15px;
      background: #434958;
      border-left-width: 0px;
      border-right-width: 0px;
      color: #efefef;
      font-size: 14px;
      flex: 1;
    }

    .menu_action {
      padding: 5px;
      margin: 0px;
      background: #494f5f;
      border-left: 1px solid #545c6d;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      width: 63px;

      a {
        flex: 1;
        align-content: space-between;
        text-align: center;
        font-size: 17px;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }

      .menu_delete {
        color: #ff5555;
      }

      .menu_edit {
        color: #03A9F4;
      }
    }
  }

  .menu_child {
    padding-left: 27px;
  }
}

.odoo_studio_mode {
  .o_navbar_apps_menu, .o_menu_sections {
    .dropdown-menu {
      z-index: 1005;
      background: #353a46;
      border: 1px solid #494b4b;
      outline: 1px solid #1f232b;
    }

    .dropdown-item {
      color: #d9d9d9;
    }
  }

  .navEdit {
    display: block;
    padding: 12px;
    color: #03A9F4;
    cursor: pointer;
    font-size: 13px;

    i {
      font-size: 18px;
    }
  }
}