.domain_selector {
  .input_selector {
    position: relative;

    input {
      overflow: hidden !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 35px;
    }
  }

  i {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    padding: 9px;
    color: #d2d2d2;

    &:hover, &:active {
      cursor: pointer;
      color: #03A9F4;
    }
  }
}