.o_dashboard_view {
  .o_cp_searchview, .o_search_options {
    visibility: hidden !important;
  }
}

// Dashboard Card
.dbCard {
  display: flex;
  flex-direction: column;

  &[card_type='youtube'] .card_content > iframe {
    width: 100%;
    height: 100%;
  }

  &[card_type='text'] .card_content {
    padding: 30px 0px;
  }

  &:hover .card_options {
    display: block;
  }

  .card_content .o_pivot > table {
    margin-left: 20px;
    border-top: 1px solid #e9ecef;
    border-left: 1px solid #e9ecef;
  }

  .o_graph_renderer {
    border-top: 0px !important;
  }
  .card_content .rich_text {
    height: 100%;
  }
  .card_content .countdownWidget {
    height: 100%;
  }

  .card_content .o_graph_view {
    height: 100%;
  }

  .card_select_options {
    //padding: 0px 8px;
    div {
      display: block;
      padding: 0px 10px;

      &:last-child {
        border-top: 1px solid #e6e9ef;
        margin-top: 10px;
        padding-top: 5px;
      }
    }

    a {
      padding: 4px 20px 4px 8px;;
      cursor: pointer;
      color: #323338;
      font-size: 15px;
      display: block;

      &:hover {
        background: rgba(113, 98, 158, 0.3);
        border-radius: 3px;
      }
    }

    i {
      font-size: 13px;
      margin-right: 8px;
    }
  }

  .card_content {
    flex: 1;
  }

  .card_title {
    padding: 20px;
    text-align: center;

    h3 {
      margin: 0px;
    }
  }

  .card_options {
    position: absolute;
    font-family: initial;
    right: 10px;
    top: 10px;
    display: none;

    & > * {
      padding: 6px;
      cursor: pointer;
      position: relative;
      display: inline-block;

      .dropdown-toggle {
        border: 0px;
        background: transparent;
      }

      .card_icon {
        color: #66598f;
      }
    }
  }
}

.wWidget {
  height: 100%;

  & > div {
    height: 100%;
  }

  .dbWidgetTitle {
    height: 100%;
  }
}

.o_dashboard {
  background: #f5f6f8 url(/dynamic_odoo/static/img/grid-pattern-bg.svg);
  min-height: 100%;
  padding: 10px;
}

.grid-stack {
  min-height: 100%;

  .o_pivot_view .o_pivot_buttons {
    //display: none !important;
  }

  .grid-stack-item {
    &[widget_type='youtube'] .grid-stack-item-content {
      overflow: hidden;
    }

    &.full {
      position: fixed;
      left: 0px !important;
      right: 0px !important;
      top: 0px !important;
      bottom: 0px !important;
      width: 100% !important;
      height: 100% !important;
      z-index: 10;
      background: rgba(0, 0, 0, 0.5);

      & > .grid-stack-item-content {
        inset: 30px;
      }

      .bookmarkWidget, .todoWidget {
        max-width: 500px;
        margin: 80px auto;
      }

      .dbWidgetTitle {
        max-width: 500px;
        margin: 80px auto;
        max-height: 250px;
      }
    }

    &.noTransition {
      transition: none;
    }

    &[widget_type='youtube'] {
      .ui-resizable-se, .ui-resizable-sw {
        &:after {
          border-color: white;
        }
      }
    }

    .grid-stack-item-content {
      background: white;
      border-radius: 4px;
      box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.12);
    }

    .ui-resizable-se, .ui-resizable-sw {
      background-image: none !important;

      &:after {
        content: "";
        position: absolute;
        bottom: 5px;
        width: 9px;
        height: 9px;
        border-bottom: 3px solid #333333;
      }
    }

    .ui-resizable-se {
      &:after {
        right: 5px;
        transform: rotate(45deg);
        border-right: 3px solid #333333;
      }
    }

    .ui-resizable-sw {
      &:after {
        left: 5px;
        transform: rotate(-45deg);
        border-left: 3px solid #333333;
      }
    }
  }
}

.o_dashboard {
  .grid-stack > .grid-stack-item {
    $gridstack-columns: 36;
    min-width: (100% / $gridstack-columns);
    @for $i from 1 through $gridstack-columns {
      &[gs-w='#{$i}'] {
        width: (100% / $gridstack-columns) * $i;
      }
      &[gs-x='#{$i}'] {
        left: (100% / $gridstack-columns) * $i;
      }
      &[gs-min-w='#{$i}'] {
        min-width: (100% / $gridstack-columns) * $i;
      }
      &[gs-max-w='#{$i}'] {
        max-width: (100% / $gridstack-columns) * $i;
      }
    }
  }
}