.studio_list_view {
  th.node-active {
    outline-offset: -1px;
  }


  .o_list_renderer .o_data_row > .o_data_cell {
    border-bottom-width: 1px;
  }

  .o_list_table {
    table-layout: inherit !important;
    border-collapse: initial;
    border-spacing: 0;

    .column_invisible {
      color: #c7c7c7;
      background: rgba(232, 244, 252, 0.5);
    }
  }

  .item_sort {
    border-radius: 2px !important;
    opacity: 1;
    border: 1px solid #8ecff3 !important;
    text-align: center;
    transform: rotate(2deg);
    z-index: 1010 !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
  }

  .item_sort {
    .o_resize {
      display: none;
    }
  }

  .column_sort {
    border: 1px solid #FF5722 !important;
    border-bottom-width: 0px !important;
    border-top-width: 0px !important;
    background-color: rgba(255, 87, 34, 0.5) !important;
  }

  .o_list_footer {
    td {
      height: 30px;
      background-color: var(--ListRenderer-thead-bg-color);
    }
  }

  .column_sort.virtual_column {
    white-space: nowrap;
  }

  .virtual_column {
    width: 0px;
  }

  .tr_search_in_tree {
    &:hover {
      cursor: pointer;
      background: white !important;
    }

    background: #e9ecef;
  }

  .th_search {
    &:not(:nth-child(1)) {
      border-left: 1px solid #dee2e6;
      padding: 4px !important;
    }

    border-top: 1px solid #dee2e6;

    &.column_sort {
      input, select {
        background: #ffcab9;
        border-color: #e5896b;
      }
    }
  }
}
