.studio_dashboard_view {
  height: 100%;

  .o_dashboard_view {
    height: 100%;
  }

}

.dashboard_components {
  padding: 20px 10px;
}

.view_center[view_type='dashboard'] {
  .tab_container[name="views"] {
    padding-top: 30px;
  }
}

.dashboard_card_center {
  height: 100%;

  .modal-body {
    max-height: none;
    padding: 0px;
  }

  .modal-footer {
    & > div {
      margin: auto;
    }

    a {
      display: inline-block;
    }
  }

  .modifier_dialog {
    height: 100%;
  }

  .component_viewer {
    background: url(/dynamic_odoo/static/img/grid-pattern-bg.svg);
    min-height: 100%;
    //background: white;
    display: flex;
    overflow: auto;

    .bookmarks_widget {
      width: 500px;
      background: white;
      padding: 40px;
      border-radius: 4px;
      border: 1px solid #e5e5e5;
      box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.12);
    }

    & > iframe, .rich_text, .dbWidgetBattery, .dbWidgetTitle, .countdownWidget, .bookmarks_widget {
      margin: auto;
    }

    .dbWidgetTitle {
      border-radius: 4px;
      box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.12);
      overflow: hidden;
    }

    .dbWidgetTitle, .dbWidgetBattery {
      width: 500px;
      height: 200px;
    }
  }

  .o_pivot > table {
    border-top: 1px solid #e9ecef;
    border-left: 1px solid #e9ecef;
  }

  .studio_list_view {
    width: 100%;
  }

  .studio_graph_view {
    width: 100%;

    .o_graph_view {
      height: 100%;
      padding-bottom: 0px;
    }

    .o_graph_canvas_container {
      padding: 0px;
    }
  }

  .tab_modifier .tab_container {
    &[name='components'] {
      height: calc(100% - 42px);
      padding: 25px 15px;
    }
  }

}

.dashboard_card_center {
  .tab_modifier .tab_container {
    height: calc(100% - 41.5px);
  }
}