.wrap_modifier {
  display: flex;
  height: 100%;
  flex: 1;
}

.node_side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
  min-width: 350px;
  max-width: 350px;
  border-right: 1px solid #e6e9ee;
}

.node_modifier {
  //display: table;
  overflow-y: scroll;
  height: 55%;
  padding: 10px;

  &.no_tab {
    height: 100%;
  }

  & > * {
    margin-bottom: 10px;
  }
}

.component_viewer {
  position: relative;
  overflow: scroll;
  height: 100%;
}

.tags_component {
  h4 {
    font-size: 1.05rem;
  }
}

.tab_modifier {
  height: 0px;
  max-height: 50%;
  min-height: 50%;

  .so_mb_widget_tab {
    height: 100%;
    width: 100%;
  }
}

.component_side {
  flex: 1;
  overflow-x: auto;
}

.tab_container {
  &[name="views"] {
    padding: 10px;

    & > * {
      margin-bottom: 10px;
    }
  }

  &[name='fields'] {
    overflow: unset;

    .tab_fields .fields_result {
      height: calc(100% - 76px);
    }
  }
}

.tab_fields {
  height: 100%;
  width: 100%;
  //display: grid;
  //display: inline-table;

  .search_field {
    height: fit-content;
    padding: 25px 15px 15px 15px;
    //background: #e8ecef;
    border-bottom: 1px solid #dee2e6;

    .field_widget input {
      border-radius: 25px;
      font-family: none;
    }
  }

  .fields_result {
    height: 100%;
    overflow-y: scroll;
    padding: 15px;
  }
}

.o_edit_widget_center {
  &.edit_title {
    .tab_container {
      padding: 15px;
    }
  }
}