.w_tags {
  padding: 4px 4px;
  border-bottom: 1px solid #dbe1e8;
  height: auto !important;
  //padding-left: 0px;
  overflow: hidden;

  .st_tag {
    display: inline-block;
    padding: 2px 5px 2px 8px;
    border: 1px solid #737578;
    box-shadow: none;
    font-size: 12px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 4px;
    margin-left: 4px;
    float: left;
    i {
      margin-left: 4px;
    }
  }
}
