$color1-bg: #2d3138 !default;
$color2-bg: #3c4048 !default;
$color3-bg: #222933 !default;
$color4-bg: #353a46 !default;
$color5-bg: #4b515d !default;
$color6-bg: #3d4550 !default;
$color7-bg: #2b313e !default;

$color1-border: #494b4b !default;
$color2-border: #e6e9ee !default;
$color3-border: #1f232b !default;
$color4-border: #939393 !default;
$color5-border: #48505a !default;
$color6-border: #FF9800 !default;
$color7-border: #9391e6 !default;
$color8-border: #389aeb !default;
$color9-border: #606570 !default;

$color1: #cfcfcf !default;
$color2: #7678be !default;
$color3: #9597e5 !default;

$font-size1: 13px !default;


.center_container {
  position: relative;
}


html {
  .o_web_client.odoo_studio_mode {
    .o_domain_selector_debug_container textarea {
      color: $color1-bg !important;
    }

    &[type='app'] {
      .o_main_navbar > * {
        display: none !important;
      }
    }

    &[type='report'] {
      .node_side {
        .tab_modifier {
          .more_field button {
            background: $color4-bg;
            border: 1px solid $color5-bg;
            color: $color3;
            font-size: 14px;
          }
        }
      }
    }

    .o_menu_systray {
      display: none !important;
    }

    .o_main_navbar {
      background: $color4-bg;
      border-bottom: 1px solid $color3-border;

      .o_menu_sections {
        .o_nav_entry, .dropdown-toggle {
          background: $color4-bg;
          border-bottom: 1px solid $color3-border;
        }
      }
    }

    .o_dialog {
      .o_error_dialog {
        padding: 0px !important;

        .modal-footer {
          padding: 12px;
        }
      }

      .modal-content {
        border: 1px solid $color3-border;
      }

      .modal-header {
        background: $color4-bg;
        border: 1px solid $color5-bg;
      }

      .modal-title {
        color: white;
      }

      .modal-footer {
        background: $color4-bg;
        border: 1px solid $color5-bg;
      }

      .btn-primary {
        background: $color5-bg;
      }

      .btn-close {
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
      }
    }

    .node_side {
      background-color: $color2-bg;
    }

    .vc_head {
      background-color: $color4-bg;
      border-bottom-color: $color1-border;
      border-top: 1px solid $color1-border;
    }

    .vc_con {
      border-top: 1px solid $color3-border;
    }

    // Color Picker Css
    .colorpicker-menu {
      min-width: 200px;
      padding: 0px;
    }

    .colorpicker {
      border: 1px solid $color3-border;

      .o_we_colorpicker_switch_panel {
        background: $color4-bg;
        padding: 7px;
        border: 1px solid $color5-bg;

        button {
          border: 0px;
          background: transparent;
          color: white;
        }
      }

      .o_colorpicker_sections {
        border-top: 1px solid $color3-border;
      }
    }

    // structure node
    .structure_node {
      .line_y, .line_x {
        background-color: $color1;
      }

      .structure_con.line_border {
        border-left-color: $color1;
      }

      h5 {
        color: $color1,
      }
    }

    // tabs
    .tab_modifier {
      h4 {
        color: $color1;
      }

      .tab_header {
        border-color: $color4-border;

        .tab_item:hover {
          color: $color3;
        }

        .tab_item.active {
          background-color: $color3-bg;
          border-color: $color4-border;

          &[name='fields'] {
            background-color: $color4-bg;
          }
        }
      }

      .tab_container {
        background-color: $color3-bg;
      }

      .tab_fields {
        .search_field {
          background: $color4-bg;
          border-bottom-color: $color5-bg;

          input {
            padding-left: 15px;
            border-color: $color5-border !important;
            background-color: $color7-bg !important;
          }
        }
      }

      .drag_com {
        background-color: $color4-bg;
        border-color: $color5-bg;
        color: $color1;
        font-size: $font-size1;
        cursor: pointer;
      }

      .wrap_drag.readonly .drag_com:hover {
        border-color: $color5-bg !important;
      }

      .tags_component .drag_com:hover {
        border-color: $color6-border;
      }

      .fields_component .drag_com:hover {
        border-color: $color7-border;
      }

      .tab_fields .drag_com:hover {
        border-color: $color8-border;
      }

    }

    //wrap edit one2many
    .wrap_one2many {
      .edit_one2many button {
        background: $color5-bg;
        color: white;
        border-color: $color3-bg;

        &:hover {
          border-color: white;
        }
      }
    }

    // Default field value
    .default_field_value {
      .datetime_field input {
        color: $color1;
        border-color: $color3-bg;
        background-color: $color4-bg;
      }
    }

    // fields
    .node_side {
      .field_label {
        color: $color2-border;
      }

      .field_widget .datetime_field input {
        color: $color1;
        border-color: $color3-bg;
        background-color: $color4-bg;
      }

      .field_widget {
        & > select, .input_base, .domain_selector input, .note-editable, .o_model_field_selector, .many2many_field, .options_center, .choose_icon_widget .sm_input, & > input[type='number'], & > input[type='text'], .many2one_field input {
          color: $color1;
          border-color: $color3-bg;
          background-color: $color4-bg;
        }

        .options_center span {
          border-color: $color9-border;
          background-color: $color5-bg;
        }

        // domain selector
        .domain_selector {
          i {
            &:hover, &:active {
              color: $color7-border;
            }
          }
        }

        // Css Widget
        .pinned {
          background-color: $color5-border;
          border-color: $color3-bg;
          box-shadow: 0 0 18px 0 rgba(22, 45, 61, 0.3);

          i {
            color: white;
          }

          &:hover {
            background: $color3-bg;
            border-color: $color5-border;

            i {
              color: $color3;
            }
          }
        }

        // graph type
        .widget_graph_type {
          border-color: $color3-bg;
          background: $color6-bg;
          color: $color1;

          .type_group .item_type {
            border-color: $color3-bg;
            background-color: $color4-bg;

            &:hover, &.active {
              border-color: $color2;
              background: $color7-bg;
            }
          }
        }

        // approval
        .approval {
          border-color: $color3-bg;

          .field_widget input[type='text'] {
            background-color: $color4-bg;
          }

          .rule_head {
            background: $color5-bg;
            //border-bottom-color: $color4-border;
            border-bottom-color: $color3-bg;
            color: $color1;

            & > h4:hover {
              cursor: pointer;
              color: white;

              i:hover {
                color: $color3;
              }
            }

            & > span:hover {
              color: white;

              i:hover {
                color: $color3;
              }
            }
          }

          .rule_content {
            background: $color6-bg;
            border-bottom-color: $color3-bg;
          }

          .new_approval {
            background: $color5-bg;
            color: $color1;
          }
        }

        .css_widget {
          border: 1px solid $color3-border;

          .css_head {
            background-color: $color4-bg;
            border: 1px solid $color5-bg;

            .pin:hover i, .drag_area:hover circle, .close:hover path {
              color: $color3;
              fill: $color3;
            }
          }

          .css_content {
            border-bottom: 1px solid $color3-border;
            border-top: 1px solid $color3-border;
          }

          .css_foot {
            background-color: $color5-bg;
            border: 1px solid $color4-border;
          }

          .lineOver {
            background-color: #515663;
            box-shadow: inset 0 1px 0 0 #43464e;
          }

          .line {
            background-color: #d9d9d9;
            box-shadow: inset 0 1px 0 0 #b7b7b7;
          }

          .active {
            color: $color2;;

            svg {
              fill: $color2;
            }
          }
        }

        .w_tags {
          .st_tag {
            border-color: $color9-border;
            background-color: $color5-bg;

            &:hover {
              cursor: pointer;
              background-color: $color4-bg;
            }
          }
        }

        .many2many_field {
          .w_tags {
            border-bottom-color: $color3-bg;
            background-color: $color6-bg;
          }

          .o_field_tags .o_input {
            color: $color1;
          }
        }

        .field_selector {
          .o_model_field_selector {
            border-width: 1px;
            border-style: solid;
            padding: 6px 6px 3px 6px;
            border-radius: 3px;
          }

          .o_model_field_selector_chain_part {
            border: 1px solid $color9-border !important;
            background-color: $color5-bg;
            border-radius: 3px;
            margin-bottom: 4px !important;
            display: inline-block;
            font-size: 13px;
            padding: 3px;
            font-weight: 100 !important;
          }
        }

        .more_field button {
          background: $color6-bg;
          border-color: $color1-border;

          &:hover {
            background: $color4-bg;
          }
        }

        .radio_field {
          &.has_condition .check_area {
            outline: 3px solid $color2;
            border-color: $color3-bg;
            //border-color: #493b72;
          }

          &.checked {
            .check_area .check_dot {
              background-color: #53b3ff;
            }
          }

          .check_area {
            border-color: $color3-bg;
            //border-color: $color4-border;
            background-color: $color4-bg;
            outline-offset: -4px;
            outline: 3px solid $color5-bg;
          }
        }

        .toggle_switch_widget .slider {
          //border-color: $color1-border;
          border-color: $color3-bg;
          background-color: $color4-bg;
        }

        .decoration_color_widget {
          .input_base {
            border-right-color: $color1-border;
            border-top-color: $color1-border;
            border-bottom-color: $color1-border;
            background-color: $color4-bg;
            color: $color1;
          }
        }

        .choose_icon_widget {
          border-color: $color3-bg;
          background: $color6-bg;

          a.icon {
            cursor: pointer;
            color: $color1;

            &:hover {
              color: $color3;
            }
          }
        }
      }

      .tab_modifier {
        .field_label {
          color: $color1;
        }

        .field_widget {
          & > select, .many2many_field, .options_center, .choose_icon_widget .sm_input, & > input[type='number'], & > input[type='text'], .many2one_field input {
            border-color: $color5-bg;
          }

          .radio_field {
            .check_area {
              border-color: $color5-bg;
              outline: 0px;
            }
          }

          .toggle_switch_widget .slider {
            border-color: $color5-bg;
          }
        }
      }
    }

    // scroll
    .st_scroll::-webkit-scrollbar-thumb {
      background: #525b6b;
      background-clip: padding-box;
    }

    .st_scroll::-webkit-scrollbar-track {
      background: $color2-bg;
    }

    .tab_modifier {
      .st_scroll::-webkit-scrollbar-track {
        background: $color3-bg;
      }
    }
  }
}

.studio_center {
  position: fixed;
  top: 46px;
  z-index: 1002;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(41, 47, 76, 0.7);
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;

  &[type='app'] {
    //top: 0px;
  }

  .w_action {
    position: fixed;
    display: flex;
    right: 0px;
    top: 0px;
    height: 45px;
    border-left: 1px solid #485057;

    a {
      height: 100%;
      display: block;
      padding: 0px 20px;
      align-content: center;
      color: white;
      cursor: pointer;
      border-left: 1px solid $color3-border;
    }

    .a_close {
      background: $color2;

      &:hover {
        color: white;
        background: #6264b1;
      }
    }

    .a_new_model {
      color: #d8d8d8;
      border-right: 1px solid #485057;

      i {
        margin-right: 10px;
        color: #03A9F4;
      }

      &:hover {
        color: white;
      }
    }
  }
}

.center_con {
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
  //overflow: auto hidden;
  position: relative;
  transition: all 0.4s ease 0s;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid $color3-border;
}

.odoo_studio_mode {
  .center_foot, footer {
    background-color: $color4-bg;
  }
}

.center_foot, footer {
  width: 100%;
  display: flex;
  border-top: 1px solid $color1-border;

  .a_action {
    margin-right: 10px;

    &.a_save:hover {
      border-color: #03A9F4;
    }

    &.a_refresh:hover {
      border-color: #FF5722;
    }
  }

  .a_center {
    margin-left: 10px;

    &:hover, &:active, &.active {
      color: $color3;

      &:hover {
        border-color: $color2;
      }
    }
  }

  .a_action, .a_center {
    color: $color2-border;
    font-size: 20px;
    width: 38px;
    height: 38px;
    text-align: center;
    background: #3e4450;
    border: 1px solid #485775;
    border-radius: 3px;
    align-content: center;
    cursor: pointer;

    .fa-save {
      color: #03A9F4;
    }

    .fa-refresh {
      color: #FF5722;
    }

    .fa-adn {
      font-size: 29px;
      vertical-align: top;
    }
  }

  .w_center {
    margin: auto;
    display: flex;
    padding: 8px 10px;
    flex: 1;
    border-right: 1px solid $color3-border;
    justify-content: flex-end;

    &.only_one {
      flex: none;
      border: 0px;
    }

  }

  .wrap_action {
    display: flex;
    flex: 1;
    padding: 10px;
    border-left: 1px solid $color1-border;
  }
}

.helper-div {
  width: 100%;
  border: 1px dashed #bdb7cd;
  min-height: 5px;
}

.st_scroll::-webkit-scrollbar {
  width: 14px;
}

.st_scroll::-webkit-scrollbar-track {
  background: white;
}

.st_scroll::-webkit-scrollbar-thumb {
  background: $color5-border;
  border-radius: 10px;
  border: 2.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.st_scroll::-webkit-scrollbar-thumb:hover {
  background: #a29dbf;
  cursor: pointer;
  border: 1.5px solid rgba(0, 0, 0, 0);
}
