.radio_field {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap-reverse;

  .check_area {
    margin-right: 7px;
    display: inline-block;
    padding: 8px;
    background: #e8f4fc;
    border-radius: 100%;
    border: 1px solid #dbe1e7;
    cursor: pointer;

    .check_dot {
      padding: 4px;
      background: transparent;
      border-radius: 100%;
    }
  }

  &.checked {
    .check_area .check_dot {
      background: #9496e0;
    }
  }

  &.has_condition {
    .check_area {
      outline-offset: -4px;
      outline: 3px solid #c3c4ff;
      border-color: #a1a3e4;
    }
  }

  .radio_condition {
    text-decoration: underline;
    color: #2e97de;
    cursor: pointer;
    flex: 1;
    text-align: right;
    align-self: center;
  }
}