.studio_kanban_view {
  .node-active {
    outline-offset: -1px;
  }

  .grid_component {
    margin-left: 0px;
    margin-right: 0px;

    & > .can_drag {
      padding: 0px;
    }
  }

  .helper-div {
    .rp_grid {
      margin: 0px !important;
      border: none;
      background: none;

      .can_drag {
        min-height: 10px;
        border: 1px dashed #03A9F4;
      }
    }
  }
}

.wrap_t_out {
  margin-bottom: 5px;
}