$o-omm-def-background: #C9CCD2;

.o_widget_omm {
    display: flex;
    flex-flow: column;
    height: 100%;

    .omm_view {
        display: flex;
        height: 100%;

        .omm_screen {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column;
            overflow-y: auto !important;

            /* Common for header and screen items */
            .omm_column { cursor: pointer }
            .omm_column:hover {
                font-weight: bold;
                border: 1px solid black;
            }
            .omm_title {
                padding-top: 8px;
                padding-bottom: 8px;
                flex: 0 0 22%;
            }
            .omm_title:not(.omm_title_header) { padding-left: 16px }
            .omm_setting {
                padding: 8px 4px;
                flex: 0 0 12%;
                cursor: pointer;
            }
            .omm_global_hide {
                padding: 8px 4px;
                flex: 0 0 6%;
                cursor: pointer;
            }
            /* Search */
            .omm_screen_search {
                display: flex;
                background-color: white;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: right;
                padding: 4px;

                .omm_filters {
                    margin-right: 12px;
                    flex: 0;
                }
                .omm_search {
                    min-width: 400px;
                    flex: 0;
                }
            }
            /* Header */
            .omm_screen_header {
                display: flex;
                font-weight: bold;
                border-bottom: 1px solid $o-omm-def-background;
            }
            /* Screen items */
            .omm_screen_item {
                display: flex;
                background-color: white;
                border-bottom: 1px solid $o-omm-def-background;

                .omm_title_header {
                    display: flex;
                    .omm_app_img {
                        height: 16px;
                        width: 16px;
                        margin-right: 4px;
                        background-size: 16px;
                    }
                }
                .omm_setting_stripe { background-color: #f6f7fa }
                .omm_icon { font-size: 130% }
                .omm_icon:hover { color: #808080 }
            }
        }
    }
}
.w-100-field {
    .o_field_tags {
        width: 100% !important;
    }
}
