.bookmarks_widget {
  padding: 20px 40px;

  .bookmark {
    height: 50px;
    cursor: pointer;
    display: flex;
    border: 1px solid #ccd9e4;
    margin-bottom: 10px;

    .logo {
      width: 50px;
      display: flex;
      border-right: 1px solid #cbd9e4;

      img {
        margin: auto;
      }
    }

    .info {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      padding: 4px 13px;

      a {
        font-weight: 600;
        color: #353e4f;
        font-size: 14px;
      }

      p {
        color: #737373;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}